#container .left .main .header h2.activity {
	background:url(../images/activity.gif) no-repeat 0 50%;
	padding-left:28px;
}

#container .left .main .header h2.admin {
	background:url(../images/gear.gif) no-repeat 0 50%;
	padding-left:28px;
}

#container .left .main .header h2.bill {
	background:url(../images/money.gif) no-repeat 0 50%;
	padding-left:28px;
}

#container .left .main .header h2.comments {
	background:url(../images/comments.png) no-repeat 0 50%;
	padding-left:28px;
}

#container .left .main .header h2.files {
	background:url(../images/files.gif) no-repeat 0 50%;
	padding-left:28px;
}

#container .left .main .header h2.issues {
	background:url(../images/issues.gif) no-repeat 0 50%;
	padding-left:28px;
}

#container .left .main .header h2.milestone {
	background:url(../images/milestone.gif) no-repeat 0 50%;
	padding-left:28px;
}

#container .left .main .header h2.msg {
	background:url(../images/messages.gif) no-repeat 0 50%;
	padding-left:28px;
}

#container .left .main .header h2.overview {
	background:url(../images/overview.gif) no-repeat 0 50%;
	padding-left:28px;
}

#container .left .main .header h2.people {
	background:url(../images/users.gif) no-repeat 0 50%;
	padding-left:28px;
}

#container .left .main .header h2.project {
	background:url(../images/project.gif) no-repeat 0 50%;
	padding-left:28px;
}

#container .left .main .header h2.svn {
	background:url(../images/svn.gif) no-repeat 0 50%;
	padding-left:28px;
}

#container .left .main .header h2.time {
	background:url(../images/clock.gif) no-repeat 0 50%;
	padding-left:28px;
}

#container .left .main .header h2.todo {
	background:url(../images/clipboard.gif) no-repeat 0 50%;
	padding-left:28px;
}

#container .left .main .header h2.user {
	background:url(../images/people.gif) no-repeat 0 50%;
	padding-left:28px;
}

#container .left .main .content div.user {
	background:url(../images/people.gif) no-repeat;
	padding-left:28px;
	margin-bottom:15px;
}

.add {
	background: url(../images/add.gif) no-repeat 0 50%;
	padding-left:20px;
}

.alert {
	background: url(../images/alert.gif) no-repeat 0 50%;
	padding-left:20px;
}

.attach {
	background: url(../images/file.gif) no-repeat 0 50%;
	padding-left:20px;
}

.back {
	background: url(../images/back.gif) no-repeat 0 50%;
	padding-left:20px;
}

.backup {
	background: url(../images/backup.gif) no-repeat 0 50%;
	padding-left:20px;
}

.cancel {
	background: url(../images/cancel.gif) no-repeat 0 50%;
	padding-left:20px;
}

.check {
	background: url(../images/ok_16x16.gif) no-repeat 0 50%;
	padding-left:20px;
}

.close,.assign,.success {
	background: url(../images/close.gif) no-repeat 0 50%;
	padding-left:20px;
}

.comment {
	background: url(../images/comments.gif) no-repeat 0 50%;
	padding-left:20px;
}

.delete {
	background: url(../images/trash.gif) no-repeat 0 50%;
	padding-left:20px;
}

.download {
	background: url(../images/files_sm.gif) no-repeat 0 50%;
	padding-left:20px;
}

.drag {
	background: url(../images/drag.gif) no-repeat 0 50%;
	padding-left:20px;
}

.edit {
	background: url(../images/edit.gif) no-repeat 0 50%;
	padding-left:20px;
}

.feed {
	background: url(../images/feed.gif) no-repeat 0 50%;
	padding-left:20px;
}

.folder {
	background: url(../images/folder.gif) no-repeat 0 50%;
	padding-left:20px;
}

.megaphone {
	background: url(../images/megaphone.png) no-repeat 0 50%;
	padding-left:20px;
}

.mstone {
	background: url(../images/milestone16.gif) no-repeat 0 50%;
	padding-left:20px;
}

.posted {
	background: url(../images/time.gif) no-repeat 0 50%;
	padding-left:20px;
}

.reorder {
	background: url(../images/reorder.gif) no-repeat 0 50%;
	padding-left:20px;
}

.report {
	background: url(../images/report.gif) no-repeat 0 50%;
	padding-left:20px;
}

.save {
	background: url(../images/filesave.gif) no-repeat 0 50%;
	padding-left:22px;
}

.warn {
	background: url(../images/warn.gif) no-repeat 0 50%;
	padding-left:20px;
}
.x {
	background: url(../images/x.png) no-repeat 0 50%;
	padding-left:20px;
}

.collapsed {
	background: url(../images/menu-collapsed.gif) no-repeat 0 50%;
	padding-left:15px;
}
.expanded {
	background: url(../images/menu-expanded.gif) no-repeat 0 50%;
	padding-left:15px;
}

/* file uploads - large icons */
.fileLrg { background: url(../images/filetypes/file.gif) no-repeat 20px 0; }
.docLrg { background: url(../images/filetypes/doc.gif) no-repeat 20px 0; }
.pdfLrg { background: url(../images/filetypes/pdf.gif) no-repeat 20px 0; }
.phpLrg { background: url(../images/filetypes/php.gif) no-repeat 20px 0; }
.xlsLrg { background: url(../images/filetypes/xls.gif) no-repeat 20px 0; }

/* extensions */
.doc,.rtf {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_doc.gif) no-repeat center right;
}

.txt {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_txt.gif) no-repeat center right;
}

.xls {
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_xls.gif) no-repeat center right;
}

.rss,.atom { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_feed.gif) no-repeat center right;
}

.opml { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_opml.gif) no-repeat center right;
}

.php,.phps { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_phps.gif) no-repeat center right;
}

.torrent { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_torrent.gif) no-repeat center right;
}

.vcard { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_vcard.gif) no-repeat center right;
}

.exe { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_exe.gif) no-repeat center right;
}

.dmg, .app { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_dmg.gif) no-repeat center right;
}

.pps { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_pps.gif) no-repeat center right;
}

.pdf { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_pdf.gif) no-repeat center right;
}

.xpi { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_plugin.gif) no-repeat center right;
}

.fla,.swf { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_flash.gif) no-repeat center right;
}

.zip,.rar,.gzip,.bzip,.ace { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_archive.gif) no-repeat center right;
}

.ical { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_ical.gif) no-repeat center right;
}

.css { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_css.gif) no-repeat center right;
}

.ttf { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_ttf.gif) no-repeat center right;
}

.jpg,.gif,.png,.bmp,.jpeg,.svg,.eps { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_pic.gif) no-repeat center right;
}

.mov,.wmv,.mp4,.avi,.mpg { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_film.gif) no-repeat center right;
}

.mp3,.wav,.ogg,.wma,.m4a { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_music.gif) no-repeat center right;
}

/* messenger */
a[href ^="aim:"] {
	padding: 5px 20px 5px 0;
    background: transparent url(../images/filetypes/icon_aim.gif) no-repeat center right;
}

a[href ^="msnim:"] {
	padding: 5px 20px 5px 0;
    background: transparent url(../images/filetypes/icon_msn.gif) no-repeat center right;
}

a[href ^="xmpp:"] {
	padding: 5px 20px 5px 0;
    background: transparent url(../images/filetypes/icon_jabber.gif) no-repeat center right;
}

a[href *="icq.com"] { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_icq.gif) no-repeat center right;
}

a[href *="edit.yahoo.com/config/send_webmesg?"] { 
	padding: 5px 20px 5px 0;
	background: transparent url(../images/filetypes/icon_yim.gif) no-repeat center right;
}

a[href ^="callto:"] {
	padding: 5px 20px 5px 0;
    background: transparent url(../images/filetypes/icon_call.gif) no-repeat center right;
}

a[href ^="skype:"] {
	padding: 5px 20px 5px 0;
    background: transparent url(../images/filetypes/icon_skype.gif) no-repeat center right;
}

a[href ^="gg:"] {
	padding: 5px 20px 5px 0;
    background: transparent url(../images/filetypes/icon_gadugadu.gif) no-repeat center right;
}

/* email */
.email {
	padding: 5px 20px 5px 0;
    background: transparent url(../images/filetypes/icon_mailto.gif) no-repeat center right;
}
