/* LAYOUT */
table.svn { width:100%; }
table.svn > caption { width:100%; padding:5px; }
table.svn > thead th, table.svn > tbody td { padding:4px; }
table.activity, table.admin { width:100%; }
table.activity tbody td { padding:4px; text-align:left; }
table.admin tr th, table.admin tr td { padding:4px 0; }
table#milestone_cal tr th, table#milestone_cal tr td { padding:3px; vertical-align:top; }
table#milestone_cal tr td ul.cal_ms li { padding-top:4px; }

/* STYLE */
table.svn caption { background: #50ADEA url(../images/corner.gif) no-repeat right top;
		  font-size:1.1em; font-weight: bold; border-bottom:2px solid #1975d7; 
		  text-transform:uppercase; color:#fff; padding:5px; }
table.svn caption.plain { background:#eee; font-size:1.2em; color:#000; border:none; text-transform:none; }		  
table.svn thead th { background:#F5F5F5; color:#666; text-transform:uppercase; font-weight:bold; }
table.svn thead tr th, table.svn tbody tr td { font-size:.9em; border:1px solid #ddd; padding:3px; }
table.svn tbody tr.even { background-color:#FFF; }
table.svn tbody tr.odd { background: #f9f9f9;	border-top:1px solid #FFF; }
table.svn a { text-decoration:none; }
table.activity caption { font-size:1.2em; font-weight:bold; background-color:#eee; padding:4px; }
table.activity thead th { 
	padding-right:4px; padding-top:4px;	padding-bottom:4px;
	text-align:left; font-weight:bold; background-color:#f5f5f5; 
}
table.admin tr { border-bottom:1px solid #ccc; }
table.admin tr th { font-weight:bold; }

table.bug tr td.label { font-weight:bold; text-align:right; width:100px; padding-right:10px; }
table.bug tr td { padding:3px; }
table.bug tr td > p { margin:0;padding:0; }

table#milestone_cal { background:#e0e0e0; border-collapse:separate;	border-spacing:1px; }
table#milestone_cal tr th, table#milestone_cal tr td { font-family:Verdana, Arial, sans-serif; font-size:80%; }
table#milestone_cal tr th {	background-color:#e0e0e0; color:#666; font-weight:bold;	border-bottom:none; }
table#milestone_cal tr td {	background-color:#f0f0f0; color:#aaa; }
table#milestone_cal tr td.today { border:1px solid #000; background-color:#ffc;	color:#000; }
table#milestone_cal tr td.active { border:1px solid #000; background-color:#fff; color:#000; }
table#milestone_cal tr td ul.cal_ms { list-style:none; }
table#milestone_cal tr td ul.cal_ms li { list-style-type:none; }

/* tablesort plugin */
.highlight { background-color:#FFFFF0;}
.theader {
	padding-left: 4px;
}
.headerSortUp {
	background: #ccc url(../images/arrow-down.gif) no-repeat;
	padding-left: 21px;
}
.headerSortDown {
	background: #ccc url(../images/arrow-up.gif) no-repeat;
	padding-left: 21px;
}