/* LAYOUT */
table.svn { width:100%; }
table.svn > caption { width:100%; padding:5px; }
table.svn > thead th, table.svn > tbody td { padding:4px; }

/* STYLE */
table.svn { border:1px solid ##ccc; }
table.svn > caption { background: #50ADEA url(../images/corner.gif) no-repeat right top;
		  font-size:1.1em; font-weight: bold; border-bottom:2px solid #1975d7; 
		  text-transform:uppercase; color:#fff; }
table.svn > thead th { background:#F5F5F5; color:#666; text-transform:uppercase; font-weight:bold; }
table.svn > thead th, table.svn > tbody td { font-size:.9em; border:1px solid #ddd;  }
tbody tr.even { background-color:#FFF; }
tbody tr.odd { background: #f9f9f9;	border-top:1px solid #FFF; }
table.svn a { text-decoration:none; }

table.activity { border:1px solid #eee; }
table.activity caption { font-size:1.2em; font-weight:bold; background-color:#eee; padding:4px; }
table.activity > tbody td { padding:4px; }