#header {
	background-image: url("../../images/header/header-green.png");
}

#header #tabs a {
    background-color: #12942C;
    color: #fff;
    border: 1px solid #0E6620;
    border-bottom: 1px solid #12942C;
}