#header {
	background-image: url("../../images/header/header-grey.png");
	background-repeat: repeat-x;
	padding:6px 0 0 0;
	padding-bottom:1px;
}

#header #tabs a:link, #header #tabs a:visited {
    background-color: #bbb;
    color: #000;
    border: 1px solid #444;
    border-bottom: 1px solid #ccc;
}